.layout {
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin-top: 10rem; */
}

.search-container {
  max-width: 800px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  position: relative;
}

.search-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10rem;
}

.search-subtitle {
  position: absolute;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 8rem;
  display: block;
}

.search-input-container {
  padding: 0.5rem;
  width: 100%;
}

.search-input {
  border-radius: 12px;
  padding: 0.5rem 0rem 0.5rem 1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.search-button {
  margin-right: 8px;
}

/* For mobile responsiveness */
@media (max-width: 800px) {
  .search-container {
    padding: 20px 16px;
  }

  .search-title {
    font-size: 24px !important;
  }

  .search-subtitle {
    font-size: 14px;
  }
}
